<div class="form-field-50">
  <label for="account_id">Account id</label>
  <input type="text" name="account_id_main" value="<%= account[:account_id] %>"
      onblur="var elems = document.getElementsByName('account_id'); for (i in elems) { elems[i].value = this.value }">
</div>

<div class="form-field-50">
  <label for="auth_id">Auth id</label>
  <input type="text" name="auth_id_main" value="<%= account[:auth_id] %>"
      onblur="var elems = document.getElementsByName('auth_id'); for (i in elems) { elems[i].value = this.value }">
</div>

<br/>

<form action="send_message" method="post">
  <input type="hidden" name="account_id" value="<%= account[:account_id] %>">
  <input type="hidden" name="auth_id" value="<%= account[:auth_id] %>">
  <div class="form-field-50">
    <label for="from_number">From Number</label>
    <input type="text" name="from_number">
  </div>
  <div class="form-field-50">
    <label for="to_number">To Number</label>
    <input type="text" name="to_number">
  </div>
  <div class="form-field-200">
    <label for="body"></label>
    <textarea name="body" placeholder="Type your message ..."></textarea>
  </div>

  <div class="form-field-50">
    <input class="button-success" type="submit" value="Send">
  </div>
</form>

<br/>

<div>
  <%= render_erb_partial :"partials/refresh_form", locals: {account: account} %>

  <table class="table-field">
    <thead>
      <tr>
        <th>Time</th>
        <th>From</th>
        <th>To</th>
        <th>Body</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Mon May 23 2016 11:07:31</td>
        <td>+0123456789</td>
        <td>+0123456789</td>
        <td>Lorem ipsum dolor sit amet</td>
      </tr>
      <tr>
        <td>Mon May 23 2016 11:07:31</td>
        <td>+0123456789</td>
        <td>+0123456789</td>
        <td>Lorem ipsum dolor sit amet</td>
      </tr>
    </tbody>
  </table>

</div>
