
<br/>

<form class="col-5" action="send_message" method="post">
  <div class="form-field-50">
    <label for="account_id">Account id</label>
    <input type="text" name="account_id" autocomplete="off" value="<%= account[:account_id] %>">
  </div>

  <div class="form-field-50">
    <label for="auth_id">Auth id</label>
    <input type="text" name="auth_id" autocomplete="off" value="<%= account[:auth_id] %>">
  </div>
  <div class="form-field-50">
    <label for="from_number">From Number</label>
    <input type="text" name="from_number" value="<%= account[:from_number] %>">
  </div>
  <div class="form-field-50">
    <label for="to_number">To Number</label>
    <input type="text" name="to_number" value="<%= account[:to_number] %>">
  </div>
  <div class="form-field-200">
    <label for="body"></label>
    <textarea name="body" placeholder="Type your message ..."><%= account[:body] %></textarea>
  </div>
  <div class="form-field-50">
    <input class="button-success" type="submit" value="Send">
  </div>
</form>


<div class="col-7">
  <%= render_erb_partial :"partials/refresh_form", locals: {account: account} %>
  <br/>
  <% if defined?(message_list) %>
    <%= render_erb_partial :"partials/message_list", locals: {message_list: message_list} %>
  <% end %>
</div>
